.range {
  position: relative;
  height: 5px;
}
.range input {
  width: 100%;
  background-color: "red";
  position: absolute;
  height: 0;
  -webkit-appearance: none;
}
.range input::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin: -8px 0 0;
  border-radius: 50%;
  cursor: pointer;
  border: 0 !important;
}
.range input::-moz-range-thumb {
  margin: -8px 0 0;
  border-radius: 50%;
  cursor: pointer;
  border: 0 !important;
}
.range input::-ms-thumb {
  margin: -8px 0 0;
  border-radius: 50%;
  cursor: pointer;
  border: 0 !important;
}
.range input::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
}
.range input::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
}
.range input::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
}
.range input:focus {
  background: none;
  outline: none;
}
.range input::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.range-labels {
  padding: 0;
  list-style: none;
}
.range-labels li {
  position: relative;
  float: left;
  text-align: center;
  cursor: pointer;
}
.range-labels li::before {
  position: absolute;
  top: -25px;
  right: 0;
  left: 0;
  content: "";
  margin: 0 auto;
  width: 9px;
  height: 9px;
  border-radius: 50%;
}
.range-labels .active.selected::before {
  display: none;
}